/* Fade-In Animation */
@keyframes alertFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert-animate-fadeIn {
  animation: alertFadeIn 0.3s ease-in-out forwards;
}

/* Fade-Out Animation */
@keyframes alertFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alert-animate-fadeOut {
  animation: alertFadeOut 0.3s ease-in-out forwards;
}

/* Slide-In-Right Animation */
@keyframes alertSlideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.alert-animate-slideInRight {
  animation: alertSlideInRight 0.3s ease-in-out forwards;
}

/* Slide-Out-Right Animation */
@keyframes alertSlideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

.alert-animate-slideOutRight {
  animation: alertSlideOutRight 0.3s ease-in-out forwards;
}

/* Slide-In-Down Animation */
@keyframes alertSlideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert-animate-slideInDown {
  animation: alertSlideInDown 0.3s ease-in-out forwards;
}

/* Slide-Out-Down Animation */
@keyframes alertSlideOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.alert-animate-slideOutDown {
  animation: alertSlideOutDown 0.3s ease-in-out forwards;
}